<%= render 'shared/search' %>

  <div class="row text-center">
    <h1 class="header-title" >all the lens</h1>
    <div class="col-xs-12 col-sm-10 col-sm-offset-1 col-md-10 col-md-offset-1 col-lg-10 col-lg-offset-1">
      <% @lenses.each do |lense| %>
      <%= link_to lense_path(lense) do %>
        <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3 text-center">
        <div class="card thumbnail">
          <% if lense.photos? %>
            <%= cl_image_tag lense.photos.first.path, :client_hints=>true, :width=>"auto:100:387", :height=>"150", :crop=>"fit"%>
          <% end %>
        <div class="card-category">
        <hr>
          <h3> <%= lense.name %> </h3>
          <p>$<%= lense.price %> / day</p>
          <p> Condition: <strong> <%= lense.condition %> </strong></p>
        </div>
        </div>
      </div>
    <% end %>
      <% end %>
      </div>
    <!-- Button (call-to-action) -->
</div>

<div id="map" style="width: 100%; height: 600px;"></div>

<% content_for(:after_js) do %>
  <%= javascript_tag do %>
    $(document).ready(function() {
      var handler = Gmaps.build('Google');
var styles = [{
  "featureType": "all",
  "elementType": "geometry.fill",
  "stylers": [{
    "weight": "2.00"
  }]
}, {
  "featureType": "all",
  "elementType": "geometry.stroke",
  "stylers": [{
    "color": "#9c9c9c"
  }]
}, {
  "featureType": "all",
  "elementType": "labels.text",
  "stylers": [{
    "visibility": "on"
  }]
}, {
  "featureType": "landscape",
  "elementType": "all",
  "stylers": [{
    "color": "#f2f2f2"
  }]
}, {
  "featureType": "landscape",
  "elementType": "geometry.fill",
  "stylers": [{
    "color": "#ffffff"
  }]
}, {
  "featureType": "landscape.man_made",
  "elementType": "geometry.fill",
  "stylers": [{
    "color": "#ffffff"
  }]
}, {
  "featureType": "poi",
  "elementType": "all",
  "stylers": [{
    "visibility": "off"
  }]
}, {
  "featureType": "road",
  "elementType": "all",
  "stylers": [{
    "saturation": -100
  }, {
    "lightness": 45
  }]
}, {
  "featureType": "road",
  "elementType": "geometry.fill",
  "stylers": [{
    "color": "#eeeeee"
  }]
}, {
  "featureType": "road",
  "elementType": "labels.text.fill",
  "stylers": [{
    "color": "#7b7b7b"
  }]
}, {
  "featureType": "road",
  "elementType": "labels.text.stroke",
  "stylers": [{
    "color": "#ffffff"
  }]
}, {
  "featureType": "road.highway",
  "elementType": "all",
  "stylers": [{
    "visibility": "simplified"
  }]
}, {
  "featureType": "road.arterial",
  "elementType": "labels.icon",
  "stylers": [{
    "visibility": "off"
  }]
}, {
  "featureType": "transit",
  "elementType": "all",
  "stylers": [{
    "visibility": "off"
  }]
}, {
  "featureType": "water",
  "elementType": "all",
  "stylers": [{
    "color": "#46bcec"
  }, {
    "visibility": "on"
  }]
}, {
  "featureType": "water",
  "elementType": "geometry.fill",
  "stylers": [{
    "color": "#c8d7d4"
  }]
}, {
  "featureType": "water",
  "elementType": "labels.text.fill",
  "stylers": [{
    "color": "#070707"
  }]
}, {
  "featureType": "water",
  "elementType": "labels.text.stroke",
  "stylers": [{
    "color": "#ffffff"
  }]
}];
handler.buildMap({
      internal: {
        id: 'map'
      },
      provider: {
        styles: styles
      },
      function() {
        markers = handler.addMarkers(<%= raw @hash.to_json %>);
        handler.bounds.extendWith(markers);
        handler.fitMapToBounds();
        if (markers.length == 0) {
          handler.getMap().setZoom(2);
        } else if (markers.length == 1) {
          handler.getMap().setZoom(14);
        }
      }
   });


    }); //end document ready
  <% end %>
<% end %>






<div class="text-center">
  <p>Have a lense to rent?</p>
  <%= link_to "Add a new lense", new_lense_path, class: "text-bigger" %>
</div>
