<div class="container padding-top-30">
  <div class="row text-center">
    <div class="col-xs-12 col-md-12">
<div class="inner">

        </div>
     <div class="col-xs-12 col-sm-12 col-md-10 col-lg-10 col-md-offset-1 col-lg-offset-1 text-center">
      <div class="middle padding-top-20">
        <h1 class="border"><%= @lense.name %></h1>
        <hr id="hr-length">
        <h3><strong><%= @lense.brandname.upcase %></strong></h3>
        <% if @lense.description %>
          <p><%= @lense.description %></p>
        <% end %>
        <p><strong>Aperture</strong>  f<%= @lense.aperture_min %>-<%= @lense.aperture_max %></p>
        <p><strong>Focal Length:</strong>  <%= @lense.focal_length_min %>-<%= @lense.focal_length_max %>mm</p>
        <p><strong>Image stabilization:</strong>  <%= @lense.image_stabilization %></p>
        <p><strong>Mount:</strong>  <%= @lense.mount_type %></p>
        <p><strong>Camera Type:</strong>  <%= @lense.camera_type %></p>
        <strong><h3 class="border">$<%= @lense.price %>/day</h3></strong>
                <hr id="hr-length">
        </div>
        <% if user_signed_in? %>
          <% if @lense.user_id == current_user.id %>
            <%= link_to "edit",  edit_lense_path, class: "btn-lens-primary btn-lens margin-bot-25 margin-top-5" %>
            <% else %>
              <%= link_to "book",  new_lense_booking_path(@lense), class: "btn-lens-primary btn-lens margin-bot-30" %>
        <% end %>
          <% else %>
               <%= link_to "book",  new_lense_booking_path(@lense), class: "btn-lens-primary btn-lens margin-bot-30" %>
        <% end %>
          </div>
  <%= link_to "see owner profile", "/user_profile/"+@lense.user.id.to_s %>
          </div>

  <%= javascript_include_tag "https://maps.google.com/maps/api/js?libraries=places&key=#{ENV['GOOGLE_API_BROWSER_KEY']}" %>
  <%= javascript_include_tag "https://cdn.rawgit.com/printercu/google-maps-utility-library-v3-read-only/master/markerclusterer/src/markerclusterer_compiled.js" %>
  <%= javascript_include_tag "https://cdn.rawgit.com/printercu/google-maps-utility-library-v3-read-only/master/infobox/src/infobox_packed.js" %>

    </div>
  </div>
</div>

