
<div class="row text-center">
  <div class="col-xs-10 col-xs-offset-1">
    <h1><%= @lense.name %></h1>

    <% @lense.photos.each do |p| %>
    <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4 text-center">
        <div class="card">
      <%= cl_image_tag p.path, :client_hints=>true, :width=>"auto:100:387", :height=>"200", :crop=>"fit" %>
      </div>
      </div>
    <% end %>

  <div class="description"></div>
   <div class="text-center description">
      <h2>Description</h2>
      <p><%= @lense.description %></p>
    </div>

<div class="text-center">
<div class="table-responsive-vertical shadow-z-1">
  <!-- Table starts here -->
  <table id="table" class="table table-hover table-mc-light-blue">
      <thead>
        <tr>
          <th class="text-center">Price</th>
          <th class="text-center">Condition</th>
          <th class="text-center">Brand Name</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td data-title="aperture" class="text-center">$<%= @lense.price %></td>
          <td data-title="focal-length" class="text-center"><%= @lense.condition %></td>
          <td data-title="image_stabilization" class="text-center"><%= @lense.brandname %></td>
        </tr>
      </tbody>
    </table>
  </div>
  </div>
<div class="table-responsive-vertical shadow-z-1">
  <!-- Table starts here -->
  <table id="table" class="table table-hover table-mc-light-blue">
      <thead>
        <tr>
          <th class="text-center">Aperture</th>
          <th class="text-center">Focal Length</th>
          <th class="text-center">Image Stabilization</th>
          <th class="text-center">Mount Type</th>
          <th class="text-center">Camera Type</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td data-title="aperture" class="text-center">f<%= @lense.aperture_min %>-<%= @lense.aperture_max %></td>
          <td data-title="focal-length" class="text-center"> <%= @lense.focal_length_min %>-<%= @lense.focal_length_max %> mm</td>
          <td data-title="image_stabilization" class="text-center"><%= @lense.image_stabilization %></td>
          <td data-title="mount_type" class="text-center"><%= @lense.mount_type %></td>
          <td data-title="camera_type" class="text-center"><%= @lense.camera_type %></td>
        </tr>
      </tbody>
    </table>
  </div>
  </div>
</div>
<%= link_to "edit",  edit_lense_path %>