<h1>Lense Show</h1>

<h1><%= @lense.name %></h1>

<% @lense.photos.each do |p| %>
  <%= cl_image_tag p.path, :client_hints=>true, :width=>"auto:100:387", :height=>"300", :crop=>"fit" %>
<% end %>


<%= @lense.description %>
<%= @lense.price %>
<%= @lense.condition %>
<%= @lense.brandname %>
 f<%= @lense.aperture_min %>-<%= @lense.aperture_max %>
<%= @lense.focal_length_min %>-<%= @lense.focal_length_max %> mm
<%= @lense.image_stabilization %>
<%= @lense.mount_type %>
<%= @lense.camera_type %>



<%= link_to "back", lenses_path %>

<%= link_to "edit",  edit_lense_path %>
