<h1>Lense Show</h1>

<h1><%= @lense.name %></h1>



<%= @lense.price %>
<%= @lense.condition %>
<%= @lense.brandname %>
 f<%= @lense.aperture_min %>-<%= @lense.aperture_max %>
<%= @lense.focal_length_min %>-<%= @lense.focal_length_max %> mm
<%= @lense.image_stabilization %>
<%= @lense.mount_type %>
<%= @lense.camera_type %>

<%= render 'shared/map' %>

<%= link_to "back", lenses_path %>

<%= link_to "edit",  edit_lense_path %>
