<h1><%= @booking.lense.name %></h1>
<h3>Booking ID:</h3><p><%= @booking.id %></p>
<h3>Booked from:</h3><p><%= @booking.start_date %></p>
<h3>Booked until:</h3><p><%= @booking.end_date %></p>
<%= image_tag("http://via.placeholder.com/300x300") %>
<p><%= @booking.lense.description %></p>
<h3>Price:</h3><p><%= @booking.lense.price %> RMB/day</p>
<br>
<%= link_to 'Edit booking', edit_lense_booking_path(params[:lense_id],@booking) %> |
<%= link_to 'Delete booking', lense_booking_path(@booking), method: :delete, data: { confirm: 'Are you sure you want to delete this booking?'}  %> |
<%= link_to 'Back to Dashboard', lense_bookings_path %>
