<div class="profile">
      <div class="profile-blog blog-border">
        <% avatar_url = booking.lense.user.facebook_picture_url || "https://bootdey.com/img/Content/user_1.jpg" %>
        <%= image_tag avatar_url, class: "rounded-x" %>
        <div class="name-location">
          <strong>
          <% if booking.lense.user.first_name %>
          <%= booking.lense.user.first_name %>
          <% else %>
            <%= booking.lense.user.email %>
          <% end %>
          </strong>
          <% if booking.lense.address %>
          <span><i class="fa fa-map-marker"></i>
            <%= booking.lense.address %>
          </span>
          <% else %>
          <span><i class="fa fa-map-marker xs"></i>
            <span class="xs" >Address not verified</span>
          </span>
          <% end %>
        </div>
        <div class="clearfix margin-bottom-10"></div>
        <% if booking.lense.description %>
       <h2><%= booking.lense.name %></h2>
        <p><%= booking.lense.description %></p>
        <p><strong>Condition:</strong><%= booking.lense.condition %></p>
        <% else %>
        <%= booking.lense.name %>
        <p><strong>Condition:</strong><%= booking.lense.condition %></p>
        <% end %>
        <p></p>
        <hr>
        <ul class="list-inline share-list">
          <li><i class="fa fa-money"></i>Price: <%= booking.lense.price %></li>
          <!-- <li><i class="fa fa-hourglass-o"></i>Status: </li> -->
          <% if booking.start_date %>
          <li><i class="fa fa-calendar"></i>Start: <%= booking.start_date.strftime("%d/%m/%Y") %></li>
          <% else %>
          <% end %>
          <% if booking.start_date %>
          <li><i class="fa fa-calendar"></i>End: <%= booking.end_date.strftime("%d/%m/%Y") %> </li>
          <% else %>
          <% end %>
          <li><i class="fa fa-user"></i>You: <%= booking.user.email %> </li>
          <li><%= link_to "view booking details", lense_booking_path(booking.lense.id, booking.id) %></li>
        </ul>
  </div>
</div>

                <div class="margin-bottom-30"></div>

