<!-- Gradient background animated -->
<div class="banner_background">
<div class="row text-center">
  <div class="col-xs-12 col-md-12">
    <div class="padding-30 fadeIn">
        <svg class="icon icon-7">
          <use xlink:href="#technology-2" />t
        </svg>
        <br>
      <span class="banner-title" >Professional lenses</span>

      <div class="padding-20">
        <div class="text-center">
          <%= link_to "Browse Lenses", lenses_path, class: "btn-lens btn-lens-primary-white" %>
        </div>
      </div>
    </div>
  </div>
</div>
</div>

<div class="text-center padding-top-60">
    <h1 id="uppercase">How can I rent a lens?</h1>
</div>
<div class="padding-top-20"></div>
<div class="container">
  <div class="row text-center pullUp">

    <div class="col-xs-12 col-md-10 col-md-offset-1 padding-top-60">
 <%= link_to(lenses_path) do %>
        <div class="col-xs-12 col-md-4 no-text-decoration feature">
           <svg class="icon icon-4 margin-bottom-10">
            <use xlink:href="#camera" />
          </svg>
            <p>Select your camera type</p>
        </div>
      <% end %>
      <%= link_to(lenses_path) do %>
        <div class="col-xs-12 col-md-4 no-text-decoration feature">
          <svg class="icon icon-4 margin-bottom-10">
            <use xlink:href="#technology-2" />
          </svg><p>Select your lens</p>
        </div>
      <% end %>

      <%= link_to do %>
      <div class="col-xs-12 col-md-4 margin-bottom-10 no-text-decoration feature">
        <svg class="icon icon-4 margin-bottom-10">
          <use xlink:href="#firework" />
          </svg>
        <p>... tadaaa! DONE! As simple as that.</p>
      </div>
      <% end %>
    </div>
  </div>
</div>
<div class="container padding-top-60">
  <div class="row text-center">
    <div class="col-xs-10 col-xs-offset-1">
    <div class="margin-bottom-30">
      <h1 id="uppercase">MAP of lenses</h1>
    </div>

    </div>
  </div>
</div>
<%= render 'shared/map' %>

  <%= javascript_include_tag "https://maps.google.com/maps/api/js?libraries=places&key=#{ENV['GOOGLE_API_BROWSER_KEY']}" %>
  <%= javascript_include_tag "https://cdn.rawgit.com/printercu/google-maps-utility-library-v3-read-only/master/markerclusterer/src/markerclusterer_compiled.js" %>
  <%= javascript_include_tag "https://cdn.rawgit.com/printercu/google-maps-utility-library-v3-read-only/master/infobox/src/infobox_packed.js" %>


